* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

.header{
    display: flex;
    background-color: rgb(81, 120, 72);
    height: 25vh;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;

}

.titre {
    margin-top: 30px;
}

body {
    background-color: rgb(255, 239, 212);
}

.logo {
    width: 15%;
    padding-left: 20px;
}


.headertext {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 25px;
}

.banniere_image {
    margin-top: 30px;
}

.deco {
    text-decoration: none;
    color: white;

}

.para {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.description {
    display: flex;
    margin-top: 5vh;
    margin-left: 50px;
    font-size: 30px ;
}

.container {
    height: auto;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}


.boite1 {
    width: 20%;
}

.boite1 .produit1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.boite2 {
    width: 20%;
}

.boite2 .produit2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boite3 {
    width: 20%;
}

.boite3 .produit3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spec {
    height: auto;
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: center;

}

.spec img {
    width: 30px;
}

.texte {
    margin-top: 10px;
    font-size: 20px;
}

.icones {
    margin-top: 60px;
}

.container .texte {
    text-align: center;
}

.monstera {  
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.ficus {  
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.calathea {  
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.box {
    display: block;
    border: 2px outset rgb(157, 154, 154);
    background-color: rgb(70, 128, 74);
    border-radius: 65px;
    margin-top: 10px;
    padding-bottom: 10px;
}


p, li, h2 {
    font-family: 'calibri';
}

h1 {
    font-family: 'calibri';
    font-size: 300%;
    text-align: center;

}

#boutique {
    margin-top: 50px;
    font-size: 40px;
    margin-left: 60px ;
}

img {
    width: 17%;
}

.banniere_image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.caracteristique {
    display: flex;
    list-style: circle;
    gap: 3%;
    font-size: 20px;
    justify-content: center;
    margin-top: 30px;
}


.icones {
    width: 3%;
}

.popo {
    margin-top: 40px;
}

.footer {
    display: flex;
    background-color: rgb(135, 109, 54);
    height: 25vh;
    align-items: center;
    gap: 70px;
    margin-top: 60px;
    height: 30vh;
    color: white;
    
}


.about {
    width: 20%;
    padding-left: 50px;
}



.quick_links {
    width: 20%;
}

.copyright {
    padding-top: 25vh;
    padding-left: 500px;
}